@using Microsoft.AspNet.Identity
@using ERP_GMEDINA.Controllers

@model ERP_GMEDINA.Models.tbEmployee

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    EmployeeController employeeController = new EmployeeController();
    List<ERP_GMEDINA.Models.tbSubsidiary> tbSubsidiaries = employeeController.GetSubsidiaries();
    List<ERP_GMEDINA.Models.tbPosition> tbPositions = employeeController.GetPositions();
    //foreach (ERP_GMEDINA.Models.tbSubsidiary tbSubsidiary in tbSubsidiaries)
    //{
    //    UserName = user.tbEmployee.employee_Name;
    //    UserId = user.user_ID;
    //}
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Create</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Volver al listado", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Registrar Empleado</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.employee_Name, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.employee_Name)
                                    @Html.ValidationMessageFor(model => model.employee_Name)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.employee_Direction, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.employee_Direction)
                                    @Html.ValidationMessageFor(model => model.employee_Direction)
                                </div>
                            </div>
                            <div class="form-group">
                                @*@Html.LabelFor(tbPositions => tbPositions.tbEmployeesPositions, new { @class = "control-label col-md-2" })*@
                                <label class="control-label col-md-2">Puesto o Cargo</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("SelectedValue", (SelectList)ViewBag.Positions, new { @class = "text-box single-line", @required = string.Empty })
                                </div>
                            </div>
                            <div class="form-group ">

                                <div class="col-md-5">
                                    <label class="col-md-10" style="text-align:center">Sucursales Disponibles</label>
                                    <table id="NoAdded" class="table table table-striped table-bordered dataTable no-footer" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th hidden style="background-color:#1ab394;color:white">
                                                    ID
                                                </th>
                                                <th id="NoAssign" style="background-color:#1ab394;color:white">
                                                    Nombre
                                                </th>
                                                <th style="background-color: #1ab394; color: white">
                                                    @*@Html.DisplayNameFor(model => model.tbEmployeesSubsidiaries)*@
                                                    Direccion
                                                </th>
                                                <th style="background-color:#1ab394;color:white"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in tbSubsidiaries)
                                            {
                                                <tr data-id="@item.subsidiary_ID">
                                                    <td hidden>
                                                        @Html.DisplayFor(modelItem => item.subsidiary_ID)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.subsidiary_Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.subsidiary_Direction)
                                                    </td>
                                                    <td>
                                                        <input name="id02" type="button" id="AddSubsidiary" class="btn btn-primary btn-xs" value="Agregar &#9658"/>
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-md-5">
                                    <label class="col-md-10" style="text-align:center">Sucursales Asignadas</label>
                                    <table id="Added" class="table table table-striped table-bordered dataTable no-footer" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th hidden style="background-color:#1ab394;color:white">ID</th>
                                                <th id="Assign" style="background-color:#1ab394;color:white">Nombre</th>
                                                <th style="background-color: #1ab394; color: white">Direccion</th>
                                                <th style="background-color:#1ab394;color:white"></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Registrar" class="btn btn-primary" />
                                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/app/Employees/Employees.js"></script>

}